*{
    margin:0;
    padding: 0;
}

body{
    margin: 0;
    font-family: '微軟正黑體', sans-serif;
    background-color: rgb(255, 255, 255);
}
::selection{
    background: var(--main-bg-color);
    color: #C24242;
  }
  ::-moz-selection{
    background: var(--main-bg-color);
    color: #C24242;
  }
img{
    max-width: 100%;
    height: auto;
}

a{
    text-decoration: none;
    color: #fff;
   
}
a:hover{
    text-decoration: none;
    color: #777;
}
.od{
    padding-top:100px;
    background-color: #fff;
   }
.gotop{
    display: none;
    position: fixed;
    z-index: 3;
    background-color: rgb(53, 53, 53);
    border-radius: 10px 0px 0px 10px;
    height: 45px;
    width: 45px;
    display: inline-block;
    right: -55px;
    top: 90%;
    color: #fff;
    padding: 10px 5px;
    -webkit-border-radius: 10px 0px 0px 10px;
    -moz-border-radius: 10px 0px 0px 10px;
    -ms-border-radius: 10px 0px 0px 10px;
    -o-border-radius: 10px 0px 0px 10px;
    -webkit-animation: hide .4s ease-out forwards 1;
    animation: hide .4s ease-out forwards 1;
    align-content: center;
    font-size: 1em;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    transition:all .4s;
    -webkit-transition:all .4s;
    -moz-transition:all .4s;
    -ms-transition:all .4s;
    -o-transition:all .4s;
}
.gotop:hover{
    right: -50px;
    background-color: #da1212;
}

.isvisible {
    animation: show 1s ease-out forwards 1;
    -webkit-animation: show 1s ease-out forwards 1;
}
@keyframes hide{
    0% {
      opacity: 1;
      transform: translateX(-55px);
      -webkit-transform: translateX(-55px);
      -moz-transform: translateX(-55px);
      -ms-transform: translateX(-55px);
      -o-transform: translateX(-55px);
}
    25%{
      opacity: .5;    
    }
    100%{
      opacity: 0;
      
}
  }
@keyframes show{
    0%{
        opacity:0;
    }
    25%{
      opacity: .5;     
    } 
    100%{
      opacity: 1;
      transform: translate(-50px);
      -webkit-transform: translate(-50px);
      -moz-transform: translate(-50px);
      -ms-transform: translate(-50px);
      -o-transform: translate(-50px);
}
  }

.rightMenu{
    position: fixed;
    z-index: 3;
    background-color: #FF6200;
    border-radius: 10px 0px 0px 10px;
    height: 260px;
    width: 45px;
    display: inline-block;
    right: -5px;
    top: 35%;
    color: #fff;
    padding: 10px 5px;
    -webkit-border-radius: 10px 0px 0px 10px;
    -moz-border-radius: 10px 0px 0px 10px;
    -ms-border-radius: 10px 0px 0px 10px;
    -o-border-radius: 10px 0px 0px 10px;
    display: flex;
    align-content: center;
    font-size: 1.2em;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    font-weight: 600;
    text-align: center;
}

.rightMenu a:hover{
    color: rgb(0, 0, 0);
}

.rightMenu:hover{
    right: -2px;
    
}

.ban{
    
    height: 1080px;
    background-color: rgb(255, 255, 255);
    background-image: url(../img/t5.png);
    
}
.ban2{
    height: 900px;
    background-image: url(../img/pt2.png);
    background-color: rgb(204, 204, 204);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.ban12{
    height: 900px;
    background-image: url(../img/d1.png);
    background-color: rgb(245, 245, 245);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    
}

/* 主頁內文 */
.create-inin{
    height: 50%;
    background: rgba(190, 190, 190, 0.363);
}
.create-inin .Cbox{
    padding: 200px 0 200px 20%;
    color: #fff;
    position: relative;
    
}
.Cbox h1{
    display: inline;
    background-color: rgb(46, 46, 46);
   background-position-x: 5px;
}

.C-r{
    padding: 200px 20% 200px 0 !important;
    text-align: right;
}
.dbg{
    background: #333;
}
#logo{
    position: fixed;
    top:3px;
    left: 10px;
    height: 60px;
    z-index: 7;

}

/* 選單 menu */
#menu-overlay{
   position: fixed;
   top: 0px;
   left: 0;
   right: 0;
   bottom:2000px;
   background:rgb(255, 138, 71);
   display: flex;
   justify-content: center;
   align-items: center;
   overflow-y:auto;
   transition:all 1.4s;
   -webkit-transition:all 1.4s;
   -moz-transition:all 1.4s;
   -ms-transition:all 1.4s;
   -o-transition:all 1.4s;
   opacity: 0;
   z-index: 0;
   
}

#menu-overlay.active{
    bottom: 0px;
    opacity: 0.9;
    z-index: 10;
}
#menu-overlay ul{
    position: relative;
}

#menu-overlay ul li{
    position:relative;
    list-style:none;
    text-align:center;
    display:block;
}

#menu-overlay ul li a{
    position:relative;
    text-decoration:none;
    font-size:2em;
    padding:0 15px;
    color:#fff;
    font-weight:500;
    text-transform: uppercase;
    display:inline-block;   
}
#menu-overlay ul li a:hover{
   
    color:rgb(92, 25, 25);
    font-weight:700;
    border: #532121 1px solid;
    
}
#toggleIcon{
    position:fixed;
    top:10px;
    right:20px;
    width:50px;
    height:50px;  
    z-index:99;
    cursor:pointer;
}

/* 選單按鈕 burger */

#hamburger{
    width: 40px;
    height:6px;
    background: #333;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    
}
#hamburger:hover{
    background:  #C24242;
    width: 50px;
}
#hamburger:hover,
#hamburger:hover:after
{
   
}
#hamburger:before,
#hamburger:after
{
    content: '';
    position:absolute;
    width: 50px;
    height:6px;
    background: #333;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

#hamburger:after{
    top:16px;

}

#hamburger:before{
    top:-16px;
}

#hamburger.active{
    background: rgba(0, 0, 0, 0);
    box-shadow:0 2px 5px rgba(0,0,0,0);
}

#hamburger.active:before{
    background: #fff;
    top:0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

#hamburger.active:after{
    background: #fff;
    top:0;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
}

#hamburger.active:hover:before,
#hamburger.active:hover:after{
    background:#333;
}


/* 頁腳 footer */
.footer {
    background-color: #9c9c9c;
    padding: 15px 0;
    border-bottom: solid 5px #333;
}


.footer_address ul {
    list-style-type: none;
    font-size: 14px;
    line-height: 1.2rem;
    color: #3a3939;
}

.footer_copyright {
    padding: 15px 0;
    font-size: 10px;
}

.footer .phone{
    background: #fff;
    text-align: center;
    padding: 15px 0;
    margin: 5px 10px;
    border-bottom: #333 5px solid;
    border-right: #333 3px solid;
}

.footer .icon{
   
   margin: 0 10px;
    padding: 15px 0;
  position: relative;
  right: 0px;
  
}

.footer span{
    font-size: 26px;
    margin-left: 10px;
    font-weight: 800;
}
.footer i{
    font-size: 20px;
    margin: 3px;
}

.fx{
    position: fixed;
}

.debugmodez{
    background-color: rgb(115, 194, 25) !important;
}
.debugmodex{
    background-color: rgb(25, 112, 194) !important;
}
.debugmodec{
    background-color: rgb(221, 76, 96) !important;
}

.menu {
    border-bottom: solid 3px rgb(177, 177, 177);
    padding-right: 80px;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    z-index: 5;
    position: fixed;
    background-color: rgba(207, 207, 207,1);
  }
  .menu .menu-item {
    position: relative;
    cursor: pointer;   
    padding: 2px 0;
    
  }
  

  .menu .menu-item .wee {
    height: 5px;
    width: 100%;
    background-color: #C24242;
    position: absolute;
    right: 0;
    
    transition: 0.75s;
  }
   .menu .menu-item h6 {
    margin: 0;
    padding: 0 1rem 1.5rem;
    font-size: 1rem;
    color: #292929;
    transition: 0.75s;
    font-weight: 700;
    
    
  }
  html body .menu .menu-item:hover h6 {
    color: #C24242;
  }
  html body .menu .current-menu-item h6 {
    color: #C24242;
  }

  .about{
      height:100%;
      padding-top:50px;
      background-color: rgb(233, 233, 233);
      
  }

  .abcase{
      padding: 0 100px;
      position: relative;
      font-weight: 500;
      margin-bottom: 50px;
      letter-spacing: 2px;
      font-size: 1.2em;
      background-color: beige;
  }
  .about h3{
      font-weight:800;
      color: #000;
      margin: 20px 0 20px 0;
  }


  /* game */

  #gameContainer{
      margin: 10px 10% !important;
   position: relative;
   
  }
  .keto{
      height: 20px;
      background-color: #333;
  }
  .footero{
      height: 600px;
      background-color: #333;
     
     padding: 5px 0;
      color: #fff;
  }

  .fullscreen{
    background-image: url(../WEBGAME/TemplateData/fullscreen.png);
    width: 38px; 
    height: 38px;
    
  }

  .gameinfo{
      padding-top:100px;
      margin: 0 25%;
      text-align: center;
  }

  .gameinfo h3{
      margin-top:40px;
      border: #fff 1px solid;
     
      font-weight: 800;
      
  }

  /* RWD settings */
  @media screen and (max-width:550px) {
    .menu-item {
        display: none !important;
        opacity: 0;
    } 

    .rightMenu{
        width: 30px;
        height: 200px;
        color: #C24242;
        font-size: 0.9em;
    }

    .gotop{
        width: 30px;
        height: 40px;
        border-radius: 7px 0 0 7px;
        -webkit-border-radius: 7px 0 0 7px;
        -moz-border-radius: 7px 0 0 7px;
        -ms-border-radius: 7px 0 0 7px;
        -o-border-radius: 7px 0 0 7px;
        font-size:0.6em;
        padding: 11px 1px;
       
}
.gameinfo{
    padding-top:60px;
    
}
}

@media screen and (max-width:780px){
    .about{
        height: 1000px;
    }
}

@media screen and (max-width:627px){
    .about{
        height: 1200px;
    }
}
@media screen and (max-width:517px){
    .about{
        height: 1500px;
    }
}